@import "tailwindcss";
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

/* Pre-loader styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.75s ease, visibility 0.75s ease;
  font-family: serif;
  color: white;
}

#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

#preloader .loader-logo {
  width: 150px;
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 1rem;
}

#preloader .loader-text {
  color: rgba(255, 255, 255, 0.7);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
